.section {
    position: relative;
    width: 100%;
    height: 190vh;
    overflow: hidden;
  }
  
  .heroImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 2561px) {
    .section {
      height: 100vh;
    }
  }

  .kenLogo {
    position: relative;
    z-index: 11;
    bottom: 2%
  }

  .frontendDevLogo {
    position: relative;
    z-index: 10;
    bottom: 35%;
    width: 600px;
    height: auto;
    margin: 20px auto;
  }
  
  
  .backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
}

  .canvasOverlay {
  position: absolute;
  inset: 0; 
  z-index: 10; 
  background-color: transparent;
  pointer-events: all; 
}
  
  .canvasWrapper {
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  
  .heroContent {
    position: absolute;
    inset: 0;
    top: 120px;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25rem;
    z-index: 10;
    pointer-events: none;
    padding: 0 1rem;
  }
  
  .verticalIndicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
  }
  
  .dot {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 9999px;
    background-color: #550bf7;
  }
  
  .line {
    width: 4px;
    height: 320px;
    background: linear-gradient(to bottom, #550bf7, transparent);
  }
  
  .heroText {
    font-size: 3rem;
    color: white;
  }
  
  .neonText {
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #550bf7, 0 0 30px #550bf7;
  }
  
  .subText {
    margin-top: 0.5rem;
    color: #f3f4f6;
  }
 @media (min-width: 320px) {
  .frontendDevLogo {
    width: 300px;
    height: auto;
    bottom: 30vh;
  }

  .section {
    height: 120vh;
  }

   @media (max-height: 882px) {
  .frontendDevLogo {
  bottom: 30vh;
  }
}

   @media (min-width: 344px) {
  .frontendDevLogo {
  bottom: 25vh;
  }
}

  .kenLogo {
    min-width: 600px;
    position: relative;
    }
  }

 @media (min-width: 375px) {
  .frontendDevLogo {
    width: 300px;
    height: auto;
    bottom: 25vh;
  }

  .kenLogo {
    min-width: 600px;
    }
  }

   @media (min-width: 428px) {
  .frontendDevLogo {
    width: 300px;
    height: auto;
    bottom: 10vh;
  }

  .kenLogo {
     top: 10vh;
    }
  }


  @media (min-width: 768px) {
  .kenLogo {
    top: 5%;
    width: 1000px;
  }

  .frontendDevLogo {
    width: 500px;
    bottom: 25vh;
  }
}


  @media (min-width: 1024px) {
  .frontendDevLogo {
    bottom: 25vh;
  }

    .section {
    height: 190vh;
  }
}

  @media (max-height: 600px) {
  .frontendDevLogo {
  bottom: 60vh;
  }
}

  @media (min-width: 1280px) {
  .frontendDevLogo {
    bottom: 45vh;
  }
}

 @media (min-width: 1800px) {
    .frontendDevLogo {
    bottom: 30vh;
  }
}

  @media (min-width: 2560px) {
  .kenLogo {
    width: 200vh;
  }

  .frontendDevLogo {
    top: 20%;
    min-width: 100vh;
    margin-top: -5%;
  }
}

 
