@import "tailwindcss";
@tailwind utilities;


:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.neon-text {
  font-family: 'Montserrat', 'Futura', sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #fff, 
               0 0 10px #fff, 
               0 0 20px #ff0080, 
               0 0 30px #ff0080, 
               0 0 40px #ff0080, 
               0 0 55px #ff0080, 
               0 0 75px #ff0080;
}

.bg-black-gradient {
  background: linear-gradient(to right, #000000, #2c3e50);
}

.bg-primary {
  background-color: #050816;
}
.text-secondary {
  color: #aaa6c3;
}
.text-secondary:hover {
  color: #f3f3f3;
}

.text-white {
  color: #f3f3f3;
}

.violet-gradient {
  background: linear-gradient(to bottom, #550bf7, #0d0c0e00);
}

.violet-gradient {
  background: linear-gradient(to bottom, #550bf7, #0d0c0e00);
}