@import "tailwindcss";
@tailwind utilities;


:root {

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.neon-text {
  font-family: 'Montserrat', 'Futura', sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #fff, 
               0 0 10px #fff, 
               0 0 20px #ff0080, 
               0 0 30px #ff0080, 
               0 0 40px #ff0080, 
               0 0 55px #ff0080, 
               0 0 75px #ff0080;
}

.bg-black-gradient {
  background: linear-gradient(to right, #000000, #2c3e50);
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: #050816;
}
.text-secondary {
  color: #aaa6c3;
}
.text-secondary:hover {
  color: #f3f3f3;
}

.text-white {
  color: #f3f3f3;
}

.violet-gradient {
  background: linear-gradient(to bottom, #550bf7, #0d0c0e00);
}

.violet-gradient {
  background: linear-gradient(to bottom, #550bf7, #0d0c0e00);
}



.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s, background-color 0.3s;
  z-index: 9999;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 5px rgba(0, 191, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(0, 191, 255, 0.9);
  }
}
